<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/head.html'); %>

    <title><%= title%></title>
  </head>
  <body>
    <%- include('./partials/navigation.html'); %>

    <section class="hero-banner">
      <img
        class="hero-banner__img animate__animated animate__fadeIn animate__delay-1s"
        src="/img/banner-principal.jpg"
        alt="camping"
      />
    </section>

    <section class="content-outdoor" id="about">
      <img class="content-outdoor__img" src="/img/mochila.jpg" alt="" />
      <p class="content-outdoor__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolor
        quam fugiat, rerum, eos adipisci dolorem eaque illo molestiae
        consectetur nihil laboriosam quisquam sed culpa repudiandae sint illum.
        Porro eum omnis vel, aut laborum animi ducimus numquam amet laudantium
        ipsum consectetur architecto, voluptas magni impedit? Reiciendis itaque
        non ut voluptates debitis ducimus. Fuga earum veritatis possimus aut
        aliquid alias maiores voluptates mollitia reiciendis sint repudiandae,
        provident nisi, magni magnam adipisci blanditiis culpa accusantium
        quidem saepe quos consectetur dolores ut a debitis. Voluptatum odio
        aliquid debitis possimus atque sed neque impedit nam, adipisci eaque
        illo assumenda quas corrupti necessitatibus aperiam ipsa eum soluta
        animi dicta. Incidunt quod sint quasi corporis sequi omnis cupiditate
        praesentium saepe! Labore debitis possimus maxime! Corporis impedit
        sequi excepturi aliquam in commodi quam totam! Optio omnis atque
        excepturi dicta incidunt quae. Voluptatibus distinctio reprehenderit
        debitis veritatis et tenetur quidem, expedita asperiores ea magni
        tempora corporis ducimus architecto?
      </p>
    </section>

    <%- include('./partials/footer.html'); %>

  
  </body>
</html>
